@font-face{
    font-family: Abril_Fatface;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face{
    font-family: Asap;
    src: url(../fonts/Asap/Asap-Regular.ttf);
}
@font-face{
    font-family: Baloo_Bhai;
    src: url(../fonts/Baloo_Bhai/BalooBhai-Regular.ttf);
}